*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gallery-section .titulo {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 10px;
}

#gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

#gallery-section .gallery-list .gallery-item {
    width: calc(33%- 32px);
}

#gallery-section .gallery-list .gallery-item img{
    width: 400px;
    height: 300px;
    border-radius: 8px;
}