*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.gallery-image {
    width: 300px;
    height: 200px;
}