* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    font-family : Arial, sans-serif;
    background-color : #f0f0f0;
    color : #343a40 ;
}

.navH {
    background-color: #f8f9fa ;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-top: 20px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style : none;
    gap : 20px;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color : black;
    text-decoration: none;
    padding-left: 20px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
}

.menu-icon {
    display: flex;

}

.nav-links a {
    text-decoration: none;
    color : black;
}
.nav ul li a {
    font-size: 1.2em;
    padding : 25px 10px;
    border : solid 3px;
}

.home {
    border-bottom: 2px solid #007bff ;
}

.about {
    border-bottom: 2px solid #32cd32 ;
}

.services {
    border-bottom: 2px solid #8a2be2 ;
}

.contact {
    border-bottom: 2px solid #ffd747 ;
}

.nav-links:hover {
    border-bottom: 2px solid #007bff;
    color : black;
}

.cta-container {
    background: #e9ecef;
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
}

.cta-container h1 {
    font-size: 2.2em;
}

.cta-container p {
    font-size: 1.2em;
    text-align: center;
}

.services-container {
    background: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    text-align: center;
    width: 100%;

}

.services-container div {
    width : 30%;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 10px;
}



.contact-container {
    background-color: #f8f9fa ;
    height: 500px;
    padding: 50px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact-form{
    width: 100%;
    max-width: 500px;
    padding : 20px;
    display: flex;
    flex-direction: column;
}
 .contact-form label {
    font-weight: bold;
    text-align: left;
    font-size: 1.1em;
    margin-top: 10px;
 }
.contact-form input, .contact-form textarea {
    border: none;
    border-bottom: 2px solid #343a40 ;
    padding : 10px;
    margin-bottom: 15px;
    font-size: 1em;
    font-family: inherit;
    outline: none;
    background-color: #f1f3f5 ;
    transition: border-color 0.3s;
}

.contact-container input[type="text"] {
    border-bottom: 2px solid #32cd32 ;
}

.nameP:hover {
    border-bottom: #007bff ;
}

.contact-container input[type="email"] {
    border-bottom:2px solid #8a2be2  ;
}

.emailP:hover {
    border-bottom: #007bff ;
}

.contact-container textarea[name="message"] {
    border-bottom: 2px solid #ffd747 ;
}

.textareaP:hover {
    border-bottom: #007bff ;
}

.boton {
    background-color: #007bff;
    color : white;
}

.boton:hover {
    background-color: #343a40  ;
}

footer {
    background-color: #f1f3f5   ;
    color : black;
    text-align: center;
    padding : 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

@media (max-width: 800px){

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-container div {
        width: 80%;
    }

    .contact-container {
        padding: 50px 20px;   
        height: auto;        
    }

    .navH ul {
        display: none;
    }

    nav button {
        display: block;
    }
}


