* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    font-family : Arial, sans-serif;
    background-color : #f0f0f0;
    color : #343a40 ;
}

.navH {
    background-color: #f8f9fa ;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-top: 20px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style : none;
    gap : 20px;
}

.nav-links a {
    text-decoration: none;
    color : black;
}
.nav ul li a {
    font-size: 1.2em;
    padding : 25px 10px;
    border : solid 3px;
}

.home {
    border-bottom:#007bff ;
}

.about {
    border-bottom:#32cd32 ;
}

.services {
    background-color:#8a2be2 ;
}

.contact {
    background-color:#ffd747 ;
}

.nav-links:hover {
    border-bottom: 2px solid #007bff;
    color : black;
}

.cta-container {
    background: #e9ecef;
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
}

.cta-container h1 {
    font-size: 2.2em;
}

.cta-container p {
    font-size: 1.2em;
    text-align: center;
}

.services-container {
    background: #f1f3f5;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 20px;

}

.contact-container {
    background-color: #f8f9fa ;
}

.contact-form {
    width: 500px;
    padding : 20px;
    background-color: #f1f3f5;
}

.nameP {
    border-bottom: #32cd32 ;
}

.nameP:hover {
    border-bottom: #007bff ;
}

.emailP {
    border-bottom: #8a2be2  ;
}

.emailP:hover {
    border-bottom: #007bff ;
}

.textareaP {
    border-bottom: #ffd747 ;
}

.textareaP:hover {
    border-bottom: #007bff ;
}

.boton {
    background-color: #007bff;
    color : white;
}

.boton:hover {
    background-color: #343a40  ;
}

.footer {
    background-color: #f1f3f5   ;
    color : white;
    text-align: center;
    padding : 20px;
}

.footer a {
    font-size: 2em;;
}