* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    font-family : Arial, sans-serif;
    background-color : #f0f0f0;
    color : #343a40 ;
}

.navH {
    background-color: #f8f9fa ;
}

.nav ul li a {
    font-size: 1.2em;
    padding : 25px 10px;
    border : solid 3px;
}

.home {
    background-color:#007bff ;
}

.about {
    background-color:#32cd32 ;
}

.services {
    background-color:#8a2be2 ;
}

.contact {
    background-color:#ffd747 ;
}

.nav-links:hover {
    border-bottom: 2px solid #007bff;
    color : black;
}