.cta-container {
    background-image: url("imagenesc/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
     align-items: center;
     justify-content: center;
    flex-direction: column;
}

.cta-text {
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-align: center; 
    margin: 20px; 

}

.cta-button {
    background-color: #626bb2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}