nav {
    display: flex;
    justify-content: flex-end;
    background-color: lightpink;
    padding : 15px;
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

.navlist a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 10px;
}

.navlist a:hover {
    color : rgb(157, 228, 252);
}