.navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navlist a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    background-color: lightpink;
    padding: 10px;
}