*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(228, 197, 157);
}

#card-section .titulo {
    text-align: center;
    font-size: 2rem;
    padding: 25px 0 20px;
    font-family: 'Times New Roman', Times, serif;
}

#card-section .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.card-item {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap : 20px;
}

.card-item img {
    width: 300px;
    height: 250px;
}

button {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: darkred;
}

h3 {
    font-family: 'Arial Black', Gadget, sans-serif;
    color : brown;
}

