*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}

#card-section .titulo {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 10px;
}

#card-section .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.card-item {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap : 20px;
}

