* {
    margin: 0;
    padding: 0;
}

nav { 
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 149, 228);
     padding : 15px;
     align-items: center;
   
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

.navlist a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 10px;
}

.navlist a:hover {
    color : rgb(157, 228, 252);
}

.cta-container {
    background-image: url("imagenes/colores.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
     align-items: center;
     justify-content: center;
    flex-direction: column;
}

.cta-text {
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-align: center; 
    margin: 20px; 

}

.cta-button {
    background-color: #626bb2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}