* {
    margin : 0;
    box-sizing: border-box;
}

.grid-container {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    gap : 20px;
    margin-top: 20px;
}

.grid-item { 
    background-color: rgb(253, 212, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.grid-item:hover {
    transform: scale(1.03);
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}