*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav { 
    display: flex;
    justify-content: space-between;
    background-color: rgb(173, 63, 63);
     padding : 6px;
     align-items: center;
   
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

.navlist a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

.navlist a:hover {
    color : rgb(233, 170, 128);
}

.cta-container {
    background-image: url("imagenes/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
     align-items: center;
     justify-content: center;
    flex-direction: column;
}

.cta-text {
    color: black;
    font-size: 35px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center; 
    margin: 20px; 

}

.cta-button {
    background-color: rgb(173, 63, 63);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}


#gallery-section .titulo {
    text-align: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0 10px;
    background-color: burlywood;
}

#gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    background-color: burlywood;
    padding: 20px;
}

#gallery-section .gallery-list .gallery-item {
    width: calc(20%- 32px);
}

#gallery-section .gallery-list .gallery-item img{
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

#card-section {
   background-color: rgb(136, 122, 105);
   padding: 40px 0 150px;
}

#card-section .titulo {
    background-color: rgb(136, 122, 105);
    text-align: center;
    font-size: 2rem;
    padding: 15px 0 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#card-section .card-list {
    background-color: rgb(136, 122, 105);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    padding: 10px;
}

.card-item {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap : 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-item img {
    width: 300px;
    height: 250px;
}

button {
    padding: 10px 20px;
    background-color: rgb(173, 63, 63);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
    background-color: darkred;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color : rgb(173, 63, 63);
}
