*{ 
    margin: 0;
    padding: 0;}

nav { 
    display: flex;
    justify-content: space-between;
    background-color: brown;
     padding : 15px;
     align-items: center;
   
}

.navlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

.navlist a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 10px;
}

.navlist a:hover {
    color : rgb(233, 170, 128);
}

.cta-container {
    background-image: url("imagenes/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
     align-items: center;
     justify-content: center;
    flex-direction: column;
}

.cta-text {
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-align: center; 
    margin: 20px; 

}

.cta-button {
    background-color: brown;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

#gallery-section .titulo {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 10px;
}

#gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

#gallery-section .gallery-list .gallery-item {
    width: calc(33%- 32px);
}

#gallery-section .gallery-list .gallery-item img{
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

#card-section .titulo {
    text-align: center;
    font-size: 2rem;
    padding: 25px 0 20px;
    font-family: 'Times New Roman', Times, serif;
}

#card-section .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.card-item {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap : 20px;
}

.card-item img {
    width: 300px;
    height: 250px;
}

button {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: darkred;
}

h3 {
    font-family: 'Arial Black', Gadget, sans-serif;
    color : brown;
}
